body
{
    margin: 0;
    padding: 0;
    height: 100hv;
}
#title-jarvis .h1{
    text-align:center;
    vertical-align:middle;
}
#particles-js
{
    background:fixed:
    height: 100%;
    background: #262626;
}